.help-footer-btn-light:hover {
  color: #0d6efd !important;
}

.help-footer-btn-dark:hover {
  color: #fff !important;
}

@media (min-width: 768px) {
  .table-responsive {
    overflow: visible;
  }
}